# Dependências
node_modules/

# Python
venv/
.venv/
__pycache__/
*.py[cod]

# Variáveis de ambiente
.env
.env.*

# Arquivos temporários
*.tmp
*.temp
*.log

# Sistema operacional
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/